/* common
========== */
* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    font: 0 'Open Sans', sans-serif;
    text-align: center;
}

.container__item {
    display: inline-block;
    vertical-align: bottom;
}

header > .container__item,
.socials > .container__item,
.features > .container__item {
    vertical-align: middle;
}

nav {
    opacity: 0.6901960784313725;
}

a {
    text-decoration: none;
    color: #ffffff;
}

svg {
    height: 23px;
    color: #cccccc;
}

a:hover, svg:hover {
    color: #ff8c2c;
}

ul {
    padding: 0;
    list-style-type: none;
}

.container__item > li:last-child {
    margin-right: 0;
}
/* header
========== */
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    background: #000000;
}

header > a > img {
    width: 79px;
}

header > nav {
    margin-left: calc(100% - 820px);
    font-size: 14px;
    line-height: 14px;
    word-spacing: 48px;
}
/* aside
========== */
aside {
    display: none;
}

nav > a > img {
    width: 45px;
    margin-top: calc(7vh - 22px);
}

aside a {
    display: block;
    font-size: 23px;
    line-height: 23px;
    margin-bottom: calc(7vh - 22px);
}
/* main
========== */
.fogging {
    background: rgba(0, 0, 0, 0.7);
}

.line {
    display: inline-block;
    width: 64px;
    margin: 30px auto;
    border: 1px solid #ff8c2c;
}

.features--img > img,
.contact input {
    width: 100%;
}
/* text */
h2 {
    font: 400 36px 'Raleway', sans-serif;
    color: #212121;
}

h3 {
    font: 300 16px 'Raleway', sans-serif;
    opacity: 0.8;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    color: #333333;
}

p, li, blockquote {
    font-weight: 400;
    font-size: 14px;
    color: #86878b;
}

em {
    font-style: normal;
}
/* buttons and inputs */
.btn {
    padding: 11px 23px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    border: none;
}
.btn--transparent {
    width: 135px;
    background: transparent;
    border: 2px solid;
}
.btn--rounded {
    border-radius: 5px;
}
.btn:hover {
    background: #d2691e;
}

::placeholder {
    color: #bdbdbd;
}

input, textarea {
    padding: 0 0 9px 14px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
}
/* colors */
.backorange {
    background: #ff8c2c;
}

.white {
    color: #ffffff;
    border-color: #ffffff;
}
/*--buildings--*/
.buildings {
    background: url(../img/buildings.png) no-repeat center/cover;
}

.buildings > .fogging {
    padding: 180px 0 140px;
}

.buildings--text {
    width: 37%;
    margin-right: calc(42% - 360px);
    text-align: left;
}

.buildings--text > h2 {
    padding: 33px 0 10px;
}

.buildings--text > h3 {
    padding: 12px 0 44px;
}

.buildings--form {
    width: 360px;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
}

.buildings--form > input {
    width: 79.16%;
    margin: 0 10.55%;
}

.buildings--form > h4 {    
    background: #f5f5f5;
    padding: 18px;
    border-radius: 5px 5px 0 0;
}

h4 > em {
    color: #ff8c2c;
}

.buildings--form > input[placeholder="Name"] {
    padding-top: 40px;
}

.buildings--form > input[placeholder="Email"] {
    padding-top: 46px;
}

input[placeholder="Password"] {
    margin-bottom: 58px;
    padding-top: 57px;
}

.buildings--form .btn {
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 0 0 5px 5px;
}
/*--socials--*/
.socials {
    padding: 22px 0;
}

.socials--text {
    width: 33.35%;
    margin-right: 6.21%;
    padding-bottom: 20px;
    text-align: left;
}

.socials--text > h4 {
    padding-bottom: 12px;
}
 
.socials > ul > li {
    display: inline-block;
    margin-right: 48px;
}

.socials svg {
    height: 46px;
}
/*--features--*/
.features {
    position: relative;
    padding: 148px 0 114px;
    background: #f5f5f5;
}
/* tabs animation */
label {
    display: inline-block;
    margin-bottom: 1px;
    padding: 48.5px 35.2px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    background: #333333;
    cursor: pointer;
    transition: background-color 5s ease-in;
}
label:hover {
    background-color: #d2691e;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background: #ff8c2c;
}

label:first-of-type {
    border-radius: 5px 5px 0 0;
}

label:last-of-type {
    border-radius: 0 0 5px 5px;
}

.features--tabs {
    width: 112px;
    margin-right: calc(55.72% - 112px);
}

.features--img {
    width: 22.86%;
}

div[id] {
    display: none;
}

#btn--tab-1:checked~#content-1,
#btn--tab-2:checked~#content-2,
#btn--tab-3:checked~#content-3 {
    position: absolute;
    top: 11.14vw;
    left: calc(19% + 95px);
    display: block;
    width: calc(39% - 78px);
    text-align: left;
}

div[id] > h4 {
    padding-bottom: 52px;
    color: #000000;
}

div[id] > p {
    padding-bottom: 25px;
}

div[id] > .btn {
    margin-top: 25px;
}
/*--about--*/
.about {
    padding: 109px 0 105px;
}

.about > .container__item {
    width: 25%;
    margin: 0 1.14%;
    text-align: center;
    vertical-align: top;
}

.about > .container__item > h4 {
    padding: 29px 0 25px;
}
/* icons */
.about__icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: no-repeat center;
    border: 2px solid #ff8c2c;
    border-radius: 50%;
    margin-top: 80px;
}
.about__icon--lamp {
    background-image: url(../img/icon-lamp.png);
}
.about__icon--keyboard {
    background-image: url(../img/icon-keyboard.png);
}
.about__icon--lightning {
    background-image: url(../img/icon-lightning.png);
}
/*--pricing--*/
.pricing {
    padding: 109px 0 96px;
    background: #f5f5f5;
}

.pricing > .container__item {
    width: 24.5%;
    margin: 79px 20px 0;
}

.gray-box > h4 {
    padding: 21px 0;
    background: #333333;

}

.gray-box > p {
    padding: 18px 0;
    background: #333333;
}

.gray-box > p > i {
    opacity: 0.5019607843137255;
}

.orange-empty {
    height: 5px;
}

.orange-box > h4 {
    padding: 14px 0;
    font-size: 14px;
}

h5 {
    margin: 2px 0;
    font: 700 35px 'Raleway', sans-serif;
    background: #333333;

}

h5 > em {
    font-size: 90px;
}

.white-box > li {
    margin-top: 2px;
    padding: 14px 0;
    text-transform: uppercase;
    background: #ffffff;
}
/*--reviews--*/
.reviews {
    padding: 109px 0 99px;
}

.reviews > .container__item {
    margin: 55px 4.28% 0;
    width: 19.5%;
    text-align: left;
}

blockquote {
    padding: 24px 13px 41px;
    margin-bottom: 8px;
    font-style: italic;
    background: url(../img/cite.png) no-repeat center/100% 100%;
}

.person {
    position: relative;
    bottom: 8px;
    left: 15px;
    display: inline-block;
}

.person > p {
    padding-top: 8px;
}
/*--street--*/
.street {
    background: url(../img/street.png) no-repeat center/cover;
}

.street > .fogging {
    padding: 76px 0 63px;
}

.fogging > h3 {
    padding-bottom: 33px;
}
/*--contact--*/
.contact {
    padding: 109px 0 80px;
}

form > .container__item {
    width: 37.64%;
    margin: 80px 2.39% 43px;
}

.contact input[placeholder="Name"] {
    padding-top: 11px;
}

.contact input[placeholder="Email"],
.contact input[placeholder="Subject"] {
    padding-top: 40px;
}

.contact .btn {
    display: block;
    margin: 0 auto;
}

textarea {
    resize: none;
}
/*--footer--*/
footer {
    background: #000000;
}

footer > ul {
    padding-top: 39px;
}

footer > ul > li {
    display: inline-block;
    margin-right: 24px;
}

h6 {
    padding: 15px;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5019607843137255;
}
/* @media
========== */
@media (max-width: 900px) {
    .container {
        width: 85%;
    }

    aside > .container__item,
    .buildings .container__item,
    section[id] .container__item {
        display: block;
        width: 90%;
    }

    .buildings .container__item {
        margin: 20px auto;
    }

    header, .socials, img[src="./img/city.png"],
    footer > ul.container__item {
        display: none;
    }

    aside {
        position: fixed;
        z-index: 1;
        right: 0;
        bottom: 0;
        display: block;
        width: 15%;
        height: 100vh;
        background: #000000;
    }

    #btn--tab-1:checked~#content-1,
    #btn--tab-2:checked~#content-2,
    #btn--tab-3:checked~#content-3 {
    position: static;
    display: block;
    width: 85%;
    margin: 20px;
    }

    label {
        display: inline-block;
        margin-right: 1px;
        padding: 11px 5%;
    }

    label:first-of-type {
        border-radius: 5px 0 0 5px;
    }

    label:last-of-type {
        border-radius: 0 5px 5px 0;
    }
}
